body{
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:red;
    font-family:Arial, Helvetica, sans-serif;
}

.she{
    position:relative;
    width:300px;
    height:300px;
    border:3px solid white;
    background:black;
    overflow:hidden;
}

.player{
    position:absolute;
    top:180px;
    left:0;
}

.player1{
    position:absolute;
    top:180px;
    left:240px;
}